@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;	
}

body{
	background-color:#DDD;	
}

div.container{
	width:950px;
	margin:0 auto;
}

div.menu{
	min-height:80px;
	-webkit-border-radius:40px 40px 40px 40px;
	background-color:#AAA;
	-webkit-box-shadow:1px 1px 10px #666666;
}

div.menu ul{
	list-style-type:none;
	
	width:615px;
	margin:0 auto;
	outline:1px solid red;
	
} 

div.menu li{
	padding:20px;
	margin:10px;
	float:left;
	
}

div.menu a{
	color:#00f;
	padding:13px 0px;
	font-size:18px;
	text-decoration:none;
	font-family:"Comic Sans MS", cursive;
	letter-spacing:1px;
	text-transform:capitalize;
	text-shadow:1px 1px 1px #09C;
	display:block;
	margin-bottom:5px;
}

div.menu li.home:hover{
	background-image:url(icon/New%20folder/2.png);
	background-repeat:no-repeat;
}

div.menu li.about:hover{
	background-image:url(icon/New%20folder/1.png);
	background-repeat:no-repeat;
}

div.menu li.gallery:hover{
	background-image:url(icon/New%20folder/4.png);
	background-repeat:no-repeat;
}

div.menu li.contact:hover{
	background-image:url(icon/New%20folder/3.png);
	background-repeat:no-repeat;
}
/* -------------------------------------------- */
div.menu li ul{
	width:110px;
	display:none;
	position:absolute;
	top:42px;
	left:0px;	
	-webkit-border-radius:0px 0px 10px 10px;
	background-color:#1D3A4E;
}


div.menu li li{
	float:none;
	text-align:center;
}

div.menu li:hover ul{
	display:block;
}

div.menu li:hover li{
	-webkit-border-radius:0 0 10px 10px;
	
}

div.menu li:hover a{
	
	-webkit-border-radius:0 0 7px 7px;
}