div.menu{
	padding:1px;
}

div.menu ul{
	list-style-type: none;

}

div.menu li{
	float: left;
	padding-top: 25px;
}

div.menu a{
	padding:0px 14px;
	display:block;
	color:#999;
	text-decoration:none;
	font-size:12px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-transform:capitalize;
	padding-left:3px;
	font-weight:bold;
}



div.menu a:hover{
	color:#555;	
	background-color: transparent;
}