div{
	outline:1px dashed red;
}

body{
	padding-top: 20px;
	background-color: #f2f2f2;
}

div.container{
	/* guid for layout  */
	/*background-image  : url('images/layout2.jpg');*/
	background-repeat : no-repeat;
	min-height:1215px;
}
	/*    header     */
div.header{
	min-height:212px;
	padding:1px;
}
	/* ---------------- */
	/*    sub-header    */
div.pic-header{
	background-image  : url('images/pic.jpg');
	min-height:210px;
}

div.menu{
	min-height:75px;
}

div.text-header{
	color: #999;
	text-align:left;
	font-size: 15px;
	font-family:sans-serif;
}

.t1{
	font-size: 20px;
	padding-left: 3px;
}
	/* ---------------- */
	/*   content     */
div.contect{
	min-height:651px;
	padding:1px;
}
	/* ---------------- */
	/*   sub-contect   */
div.baner{
	min-height:324px;
	background-image  : url('images/baner.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-color:#eaeaea;
}

div.text-img{
	min-height:324px;
	padding:1px;
	border-bottom:1px dashed #aaa;
	border-top:1px solid #aaa;
}

div.left-text{
	background-image: url('images/left-tp.jpg');
	display: block;
	background-repeat:no-repeat;
	background-position-y:27px;
	margin-top:5px;
	min-height:140px;

}

.text{
	padding-top:170px;
	color: #999;
	text-align:left;
	font-size: 13px;
	font-family:sans-serif;
}

div.center-text{
	background-image: url('images/center-tp.jpg');
	display: block;
	background-repeat:no-repeat;
	background-position-y:27px;
	margin-top:5px;
	min-height:140px;
}

div.right-text{
	background-image: url('images/right-tp.jpg');
	display: block;
	background-repeat:no-repeat;
	background-position-y:27px;
	margin-top:5px;
	min-height:140px;
}
	/* ---------------- */
	/*      footer      */
div.footer{
	min-height:350px;
	padding:1px;
}
	/*     sub-footer    */
div.up-footer{
	min-height:248px;
}

div.text-footer1{
	min-height:245px;
}

div.text-footer2{
	min-height:245px;
}

div.text-footer3{
	min-height:245px;
}

div.text-footer3-1{
	min-height:245px;
}

div.text-footer3-2{
	min-height:245px;
}


div.down-footer{
	min-height:102px;
}

div.copyright{
	min-height:100px;
}

div.footer-menu{
	min-height:100px;
}
div.footer-menu1{
	min-height:100px;
}

div.footer-menu2{
	min-height:100px;
}

div.footer-menu3{
	min-height:100px;
}

div.footer-menu4{
	min-height:100px;
	outline:1px dashed blue;
}


	/* ---------------- */