*{
	padding: 0;
	margin: 0;
}

div.menu{
	width:250px;
	padding: 30px 20px 20px 30px;
	background-color: #EEE;
	border:1px solid #AAA;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-o-border-radius:15px;
	-ms-border-radius:15px;
	margin-top: 10px;
	margin-left: 10px;
	box-shadow: 1px 1px 5px #AAA;
	-webkit-box-shadow: 1px 1px 5px #AAA;
	-moz-box-shadow: 1px 1px 5px #AAA;
	-o-box-shadow: 1px 1px 5px #AAA;
	-ms-box-shadow: 1px 1px 5px #AAA;
}

div.menu ul{
	list-style-type: none;
}

div.menu li{
	background-image: url(img/1.png);
	background-repeat:no-repeat;
	position:relative;
}

div.menu li:hover{
	background-image: url(img/22.png);
}

div.menu li :hover > a{
	color:#FFF;
	font-weight:bold;
}

div.menu a{
	display: block;
	color:#EDD;
	text-decoration:none;
	padding: 10px 0px 17px 25px;
	font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
	font-size: 19px;
	letter-spacing:1px;
	text-transform:capitalize;
	text-shadow:1px 1px 1px #343434;
}

div.menu li ul{
	width:100%;
	position: absolute;
	left:155px;
	top:8px;
	display:none;
	z-index: 2;
}

div.menu li:hover > ul{
	display: block;
}

div.menu li li{
	
}

div.menu li li a{
	
}